

body{
    background-color: #0b0909;
    color: #fbfbfb;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fbfbfb;
}
.section1{
    size: 2em;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.skills{
    background-color: #666666;
}
.paragraph{
    background-color: #fbfbfb;
    color: black;
    font-size: 16px;
}
#gosto{
    background-color: #666666;
}

footer{
    text-align: center;
}