

body{
    background-color: #ffdb2d;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ff2d50;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.skills{
    background-color: #ff722d ;
}